---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<div class="content">

    <article class="article  article--page  typeset">

			{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
			<h1>{{ collectiondata.title }}</h1>

			{{ collectiondata.description | markdownify }}

    </article>

    <!-- Rentry pastebin that stopped working. 
    <iframe src="https://rentry.co/bqt5z/raw" style="height:300;width:100%"></iframe>
    -->    
    <br>
    Pawns and Pints
    <br>
    The next bar meetup will be on Wednesday January 28, starting at 7:30 pm. This event is free like our weekend meetup, but please make a food or drink purchase. We're planning to play at Mrs. Murphy's Irish Pub, but check here before heading out to make sure the location hasn't changed.
    <br>
    <br>
    Weekend Meetup
    <br>
    The next weekend meetup will take place on Saturday January 31 from 1 to 3 pm at the Medford Public Library.
    <br>
    
    
    {% include post-list.html %}

  </div>

</main>

{% include site-footer.html %}
