---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<div class="content">

    <article class="article  article--page  typeset">

			{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
			<h1>{{ collectiondata.title }}</h1>

			{{ collectiondata.description | markdownify }}

    </article>

    <!-- Rentry pastebin that stopped working. 
    <iframe src="https://rentry.co/bqt5z/raw" style="height:300;width:100%"></iframe>
    -->    
    The next meeting will take place on July 26 from 10 am to noon at the Medford Public Library.<br>
    <br>
    Jack needs someone to cover for him during the following meeting on August 2. Please text him at (313) 410-6362 if you can help.

    {% include post-list.html %}

  </div>

</main>

{% include site-footer.html %}
